<html>
    <head>
        <title>Halaman Dosen</title>
    </head>
    <body>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID Dosen</th>
                    <th scope="col">Nama Dosen</th>
                    <th scope="col">Universitas</th>
                    <th scope="col">Jurusan</th>
                    <th scope="col">Aksi</th>
                </tr>
            </thead>
    <tbody>
        {% for d in dosen %} <!--Digunakan untuk melakukan perulangan data dari database.-->
            <tr>
                <td>{{ d[0] }}</td>
                <td>{{ d[1] }}</td> <!--Digunakan untuk menampilkan data ke tabel.-->
                <td>{{ d[2] }}</td>
                <td>{{ d[3] }}</td>
                <td> <button type="button" class="btn btn-warning btn-sm">Edit</button>
                    <button type="button" class="btn btn-danger btn-sm">Delete</button></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
    </body>
</html>