<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type=text/css href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <title>Tabel</title>
</head>
<body>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">No.</th>
            <th scope="col">Nama</th>
            <th scope="col">Kota</th>
            <th scope="col">Jurusan</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Fankuy</td>
            <td>Bandung</td>
            <td>Sistem Informasi</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Aji</td>
            <td>Bogor</td>
            <td>Informatika</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Nafa</td>
            <td>Jakarta</td>
            <td>Sistem Informasi</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Dets Sari</td>
            <td>Depok</td>
            <td>Sistem Informasi</td>
          </tr>
        </tbody>
      </table>
</body>
</html>